# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# FastAPI / Starlette
*.db

# Sphinx documentation
docs/_build/
\# PyBuilder
.pybuilder/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# IDEs
.idea/
*.iml

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Python Env
.env
venv/

# Supabase
supabase/

# pdf storage
tmp/
pdfs/